@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%233354b1' fill-opacity='0.04' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
h3{
    font-size: 1.2em;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.miembros{
    margin-top: 35px;
    padding: 10px;
    padding-top: 40px;
    display: grid;
    gap: 1rem;
    border-radius: 25px;
    background: linear-gradient(45deg, #3a607370, #16222a82);
}
header {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: #ecf0f1;
    padding: 1rem 0;
    margin:0px;
    overflow: hidden;
    box-shadow: 0px 0px 25px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: center;
}
nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:not(.logo):hover{
    background-color: #34495e;
}
.activo{
    background-color: #497FB7;
}
.mainPortfolio {
    width: 90%;
    max-width: 75rem; 
    margin: 0 auto 2rem auto;
    margin-bottom: 150px;
}
main {
    padding: 2rem 0;
    margin-bottom: 150px;
}
.container_1 {
    width: 90%;
    max-width: 75rem; 
    margin: 0 auto 2rem auto;
    padding: 0 2rem;
    background-color: #f0f0f0;
    border: 0.0625rem solid #393333;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #34495e;
    text-align: center;
}
p {
    margin-bottom: 1rem;
}
.hero{overflow: hidden;}
.hero-image {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/hero.jpg") center center / cover no-repeat;
  position: relative;
  top: 50%;
  right: 0; 
  height: 30vh;
  width: 45%;
  float: right;
}
.hero-text {
  text-align: justify;
  position: relative;
  top: 50%;
  left: 0;
  width: 45%;
  float: left;
}
.clearfix{
    overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 0.8rem;
}
footer {
    position: fixed; bottom: 0;width: 100%;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    padding: 2rem 0;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-content span{display: inline-block;padding: 0 10px;}
.materia{width: 40%;}
.footer-logo {
    height: 70px;
    width: 180px;
    background-image: url("./img/uade.png");
    margin-left: 1rem;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.btn {
    cursor: pointer; border: solid rgb(5, 5, 5);
    font-size: 32px; color: rgb(255, 255, 255);
    padding: 10px 30px; transition: all;
    width: 335px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(32, 35, 56) 100%);
    --hover-borderc: #5e5e5e; --hover-color: #cccccc;
    
}
.btn:hover{                 
    color: rgb(204, 204, 204);
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(94, 94, 94);
}
/* de aca en adelante es solo el menu hamburguesa */
#hamburguesa{
  display: block;
  position: relative;
  text-align: right;text-align: -webkit-right;
  top: 0;
  right: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#hamburguesa input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;  
  cursor: pointer;
  opacity: 0;
  z-index: 2;/*para que este arriba de la hamburguesa*/
  -webkit-touch-callout: none;
}
#hamburguesa span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#hamburguesa span:first-child{
  transform-origin: 0% 0%;
}
#hamburguesa span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#hamburguesa input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#hamburguesa input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#hamburguesa input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#hamburguesa input:checked ~ ul li a{
        display: inline-block;
        width: 100%;
}
#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#hamburguesa input:checked ~ ul{
  transform: none;
}

/*************************************************************/
/********* Estilos Nahuel *********/
/*************************************************************/

.servicios-grid {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: center; 
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap; 
}

.servicio {
    max-width: 300px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 10px;
    margin: 0 10px; 
}

.servicio img {
    width: 100%; 
    height: auto;
    max-height: 200px; 
    margin-bottom: 15px; 
}

.servicio h3 {
    margin: 10px 0; 
    font-size: 1.5rem; 
}

.servicio p {
    font-size: 1rem; 
    line-height: 1.5;
}

.testimonios {
    display: flex;
    justify-content: space-around; 
    margin: 20px 0; 
    flex-wrap: wrap; 
}

.testimonio-segmento {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 15px; 
    width: 45%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px 0;
}

blockquote {
    font-style: italic; 
    margin: 0; 
}

.cliente {
    font-weight: bold; 
    text-align: right; 
    margin-top: 10px; 
}

@media (max-width: 768px) {
    .servicios-grid {
        justify-content: center;
    }

    .servicio {
        max-width: 100%; 
        margin-bottom: 20px;
    }

    .testimonio-segmento {
        width: 100%; 
    }
}

/*************************************************************/
/********* Fin de estilos Nahuel *********/
/*************************************************************/

/*************************************************************/
/********* Inicio de estilos Ignacio (portafolio) *********/
/*************************************************************/

.container_1 {
    width: 90%;
    max-width: 75rem; 
    margin: 2rem auto 0 auto;
    padding: 0 2rem;
}

.main_portafolio {
    width: 90%;
    max-width: 75rem; 
    margin: 0 auto 0 auto;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover; 
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.65);
}

.card-body {
    font-size: 1.125rem; 
    font-family: 'Times New Roman', Times, serif;
    padding: 2.5rem;
}
.card-title {
    margin: 0; 
}
.card-header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.boton_web {
    padding: 0.5rem; 
    margin-left: 0.75rem;
    background-color: #007bff; 
    color: #ffffff; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.boton_web:hover {
    background-color: #0056b3; 
}
.row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    margin: 4rem 0 2rem;
}

.card {
    width: 100%;
    border: 0.0625rem solid #393333;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    background-color: #f0f0f0;
    min-height: 500px;
}

.portafolio_title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.portafolio_text {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    text-align: justify; 
    width: 100%;
    padding: 1rem;
}

.container_2 {
    width: 90%;
    max-width: 75rem; 
    margin: 3rem auto 2rem auto;
    padding: 0 2rem;
    background-color: #f0f0f0;
    border: 0.0625rem solid #393333;
}

.container_tech {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; 
    width: 100%; 
    margin: 1rem auto;
}

.portafolio_title_tech {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.tecnologia {
    display: flex;
    width: 5rem;
    height: 4.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; 
}

/*************************************************************/
/********* Fin de estilos Ignacio (portafolio) *********/
/*************************************************************/

/*************************************************************/
/********* Inicio de estilos Luciano *********/
/*************************************************************/

.soporte-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 80px;
}

.soporte-top-container {
    width: 100%;
    padding: 20px 0;
}

.soporte-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.soporte-top {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.soporte-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
}

.icon-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3A6073;
    flex-shrink: 0;
    cursor: pointer;
}


.icon-circle.small {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: #3A6073;
    margin-bottom: 20px;
    cursor:auto;
}
.small {
    flex-direction: row;
}

.item-content {
    text-align: center;
}
.background-soporte-cuadros{
    background-color: #ccc;
}

.soporte-item h3 {
    color: #3A6073;
    margin-bottom: 5px;
    font-size: 18px; 
}

.soporte-item p {
    color: #333;
    margin-left: 1rem;
    font-size: 14px; 
}

.padding-desc-soporte{
    padding-top: 40px;
}
.margin-bot-2{
    margin-bottom: 2rem;
}
/*************************************************************/
/********* Fin de estilos Luciano *********/
/*************************************************************/

@media (min-width: 835px){
    #hamburguesa input, #hamburguesa span{
        display: none;
    }
}
@media (max-width: 834px){
    nav ul {
        flex-direction: column;
        align-items: flex-start;
                margin-top: -50px;
    }
    nav ul li {
        margin-bottom: 0.5rem;
        width: 100%;
    }
    nav ul li a:not(.logo){
        display: none;
    }
    .logo{
        padding-left: 20px;
        padding-right: 15%;
        width: 100%;
        display: inline-block;
    }
}
@media (min-width: 769px) {
    .miembros {
        grid-template-columns: repeat(5, 1fr);
    }
}
/* lo siguiente es solo para mobile */
@media (max-width: 768px) {
    .miembros {
        grid-template-columns: 1fr;
        margin: 35px 15px;
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container p {
        padding: 20px;
    }
    .container h2, .hero-text{
        padding-left: 20px;
    }
    .hero-text{
        width: 100%;
        float: none;
    }
    .footer-content{
        padding: 0 15px;
        display: block;
    }
    .footer-content p{
        margin-bottom: 0;
    }
    .hero-image {
        position: relative;
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    .team-member {
        flex-direction: column;
        text-align: center;
    }
    .team-member img {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    footer {position: relative;}
    .footer-logo{ padding:30px 35px; margin: 0 auto;}
        /* Seccion Portafolio Ignacio */
    .row {
        grid-template-columns: 1fr;
    }
    .container_tech {
        grid-template-columns: repeat(2, 1fr);
    }

    .portafolio_title {
        font-size: 1.25rem; 
    }
    .portafolio_text {
        font-size: 1rem; 
    }

    .portafolio_title_tech {
        font-size: 1.25rem; 
    }

    .row {
        padding: 1rem;
    }

    .tecnologia {
        width: 4rem; 
        height: 3.5rem; 
    }

    .container_2 {
        width: 85vw;
        max-height: 50vh;
    }
    .container_tech {
        margin-top: 1rem;
    }
    /* Fin Seccion Portafolio Ignacio */
    /* Inicio seccion Nahuel */
    .servicio h3 {
        font-size: 1.2rem; 
    }

    .servicio p {
        font-size: 0.9rem;
    }

    .testimonios {
        flex-direction: column; 
        align-items: center;
    }

    .testimonio-segmento {
        width: 100%;
        margin-bottom: 15px; 
    }
    /* Fin seccion nahuel */
    /* Inicio seccion luciano */
    .soporte-container {
        margin: 0 auto; 
        padding: 20px 10px;
    }
    
    .padding-desc-soporte{
        padding-top: 20px;
    }

    .soporte-top {
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 10px 0px;
    }

    .soporte-top-container{
        width: 90%;
        padding: 10px 0px;
    }

    .soporte-item{
        width: 100%;
        padding: 0 1rem;
    }

    .icon-circle {
        width: 50px; 
        height: 50px;
    }

    .icon-circle.small {
        width: 80px; 
        height: 80px;
    }

    .soporte-bottom {
        grid-template-columns: 1fr;
    }
    .small{
        flex-direction: column;
    }
    /* Fin seccion luciano */
}
/* mobile nacho */
@media (max-width: 1200px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
    .container_tech {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .row {
        grid-template-columns: 1fr;
    }
    .container_tech {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .portafolio_title {
        font-size: 1.25rem; 
    }
    .portafolio_text {
        font-size: 1rem; 
    }

    .row {
        padding: 1rem;
    }

    .tecnologia {
        width: 4rem; 
        height: 3.5rem; 
    }

    .container_2 {
        width: 85vw;
        max-height: 50vh;
    }
    .container_tech {
        margin-top: 2rem;
    }

}
/* mobile nacho FIN */